form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    
    input{
        font-size: 20px;
    }
    button{
        font-size: 26px;
        margin-top: 20px;
    }
}